body {
max-width: 2000px;
width: 100%;
background-image:url('pinkwa.jpg');
background-size:2000px 2000px;
background-repeat:no-repeat;
color: #fff;
}
.header {
display: flex;
justify-content: space-around;
margin-top: 30px;
margin-bottom: 190px;
}
.menu-list {
display: flex;

list-style-type: none;
}
.menu-item:not(:last-child) {
margin-right: 50px;
margin-left: 63px
}
.menu-item a {
margin-left: 63px
text-decoration: none;
font-size: 25px;
color:red ;
}

.active {
font-weight: bold;
}


.main0{
padding-bottom:50px;
padding-left:55px;
padding-right:50px;
padding-top:50px
margin:52px;
}
.main{
padding-bottom:50px;
padding-left:55px;
padding-right:50px;
padding-top:50px
margin:52px;
}
.main2{
padding-bottom:50px;
padding-left:55px;
padding-right:50px;
padding-top:50px
margin:52px;
}
.main3{
padding-bottom:50px;
padding-left:55px;
padding-right:50px;
padding-top:50px
margin:52px;
}
.main4{
padding-bottom:50px;
padding-left:55px;
padding-right:50px;
padding-top:50px
margin:52px;
}
.main5{
padding-bottom:50px;
padding-left:55px;
padding-right:50px;
padding-top:50px
margin:52px;
}
.main6{
padding-bottom:50px;
padding-left:55px;
padding-right:50px;
padding-top:50px
margin:52px;
}
